@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer components {
  .title {
    @apply flex justify-center font-bold text-[24px] mb-5;
  }
  .title1 {
    @apply flex justify-center font-bold text-[18px] mb-5;
  }
  .titleUnderline {
    @apply flex justify-center font-bold underline m-1;
  }
  .row {
    @apply flex flex-row justify-center  text-center font-bold;
  }
  .info {
    @apply m-[1px] w-[20%] font-medium bg-gray-600 text-white;
  }
}
